extends layout

block content
  ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
      a(href='#general') General
    li(role='presentation')
      a(href='#navigation') Navigation

  div.tab-content
    div.tab-pane.active.fade.in(role='tabpanel', id='general')
      p
      form#settings.form-horizontal(method='post', action='/settings/general')
        div.form-group
          div.col-md-10
            p Modiy the general settings below:
          div.col-md-2.btn.btn-group
            button#submit.btn.btn-primary(type='submit', name='submit', value='submit') Save
            a#cancel.btn.btn-default(href='/') Cancel
        div.form-group
          label.control-label.col-md-2(for='title') Title:
          div.col-md-10
            input#title.form-control(name='title', value='#{settings.title}')
        div.form-group
          label.control-label.col-md-2(for='theme') Theme:
          div.col-md-10
            select#theme.form-control(name='theme')
              each val in themes
                - var select=null; if (settings.theme == val) select='selected';
                option(value=val, selected=select)= val
        div.form-group
          label.control-label.col-md-2(for='security') Security Enabled?:
          div.col-md-10
            select#security.form-control(name='security')
              - var securityNo = (settings.security=='0') ? 'selected' : null
              - var securityYes = (settings.security=='1') ? 'selected' : null
              option(value='0', selected=securityNo) No
              option(value='1', selected=securityYes) Yes
        div.form-group
          label.control-label.col-md-2(for='contentFolder') Title:
          div.col-md-10
            input#contentFolder.form-control(name='contentFolder', value='#{settings.contentFolder}')

    div.tab-pane.fade(role='tabpanel', id='navigation')
      p
      form#navigation.form-horizontal(method='post', action='/settings/navigation')
      div.form-group
        div.col-md-10
          p Edit the top navigation bar below:
          p Note: un-ordered list markdown only!
        div.col-md-2.btn.btn-group
          button#submit.btn.btn-primary(type='submit', name='submit', value='submit') Save
          a#cancel.btn.btn-default(href='/') Cancel
        div.form-group
          div.col-md-12
            textarea#navmarkdown.form-control(rows='20', name='navmarkdown') #{navmarkdown}
