extends layout

block content
  form#settings.form-horizontal(method='post')
    div.form-group
      lable.control-label.col-md-2(for='title') Title:
      div.col-md-10
        input#title.form-control(name='title', value='#{settings.title}')
    div.form-group
      lable.control-label.col-md-2(for='theme') Theme:
      div.col-md-10
        select#theme.form-control(name='theme')
          each val in themes
            - var select=null; if (settings.theme == val) select='selected';
            option(value=val, selected=select)= val
    div.form-group
      lable.control-label.col-md-2(for='security') Security Enabled?:
      div.col-md-10
        select#security.form-control(name='security')
          - var securityNo = (settings.security=='0') ? 'selected' : null
          - var securityYes = (settings.security=='1') ? 'selected' : null
          option(value='0', selected=securityNo) No
          option(value='1', selected=securityYes) Yes
    div.form-group
      div.col-md-10
      div.col-md-1
        button#submit.btn.btn-primary(type='submit', name='submit', value='submit') Save
      div.col-md-1
        a#cancel.btn.btn-default(href='/') Cancel
